<div class='footer'>
    <section>
        <div class="section-content relative">
            <div style="text-align: center;">
                <span>
                    Desenvolvido com <clr-icon class="is-solid" shape="heart" style=" color: red;"></clr-icon> por
                    <strong> jv-castelom</strong>. Visite meu github!
                </span>
            </div>
            <div class="separator"></div>

            <div class="row align-center">
                <div class="col medium-6 small-12 large-6">
                    <div class="col inner">
                        <h6 style="color: azure;">Quem sou eu?</h6>
                        <p>
                            <strong style="color: azure;">Engenheiro da Computação e Mestre em Energias
                                Renováveis</strong>
                        </p>
                        <p style="color: white;">
                            Meu nome é João Victor Castelo Martins, formado em Engenharia da Computação e Mestre em
                            Energias
                            Renováveis.
                            Atualmente trabalho como desenvolvedor FullStack no Grupo de Redes de Computadores,
                            Engenharia de Software
                            e Sistemas (GReAT).
                        </p>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6">
                    <div class="col inner">
                        <h6 style="color: azure;">Contato</h6>
                        <p>
                            <img src="../../../../assets/contact/localizacao.jpg" alt="Email" width="30" height="25" />
                            <strong style="color: azure;">Fortaleza - CE </strong>
                        </p>
                        <p style="color: white">
                            <img src="../../../../assets/contact/email.png" alt="Email" width="20" height="15" />
                            : vitorcastelo.m3@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col medium-6 small-12 large-6">
                    <div class="col inner">
                        <h6 style="color: azure;">Midias Sociais</h6>

                        <span>
                            <a href="https://www.linkedin.com/in/jo%C3%A3o-victor-castelo-martins-46a68573/">
                                <img src="../../../../assets/socialmedias/likedin.png" alt="likedin Page" width="50"
                                    height="45" style="padding-top: 10px;" />
                            </a>

                            <a href="https://github.com/jv-castelom">
                                <img src="../../../../assets/socialmedias/github.png" alt="github Page" width="50"
                                    height="45" style="padding-left: 5px; padding-top: 10px;" />
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>