.destaque{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}

.center{
    text-align: center;
}

.middle-sized{
    width: 50%;
    max-height: 100%;
}

.card-image{
    display: inline-block;
    flex: 0 0 auto;
    height: 7rem;
    width: 7rem;
    max-height: 10rem;
    max-width: 10rem;
}

.btn-nav{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}