<div class="destaque" style="background-image: url({{movie.image}})">
    <div class="card middle-sized">
        <div class="card-header center">
            Filmes em destaque
        </div>
        <div class="card-block">
            <div class="card-media-block">
                <img src="{{movie.image}}" class="card-image">
                <div class="card-media-description">
                    <span class="card-media-title">
                        {{movie.titulo}}
                    </span>
                    <span class="card-media-text">
                        Direção: {{movie.direcao}}
                    </span>
                    <span class="card-media-text">
                        Elenco: {{movie.elenco}}
                    </span>
                </div>
            </div>
            <div class="card-text sinopse-sized">
                {{movie.sinopse}}
            </div>
        </div>
        <div class="card-footer center">
            <button class="btn btn-sm btn-link btn-nav" (click)="previous()"> Anterior </button>
            <span></span>
            <button class="btn btn-sm btn-link btn-nav" (click)="next()"> Próximo </button>
        </div>
    </div>
</div>